//- Imports templates
//- include templates/teste/index.pug
//- include templates/formulario-crm/index.pug

//- Imports components
//- include components/welcome/index.pug
include components/lineImage/index.pug
//- include components/image/index.pug
include components/headerLp/index.pug
//- include components/accordion/index.pug
//- include components/flipcard/index.pug
//- include components/countdown/index.pug
//- include components/buzzfeed/index.pug
//- include components/mostLovedTabs/index.pug
//- include components/teste/index.pug